body{
  background-image:url('images/strawberry-field.jpg');
}
header{
  width:1200px;
  height:400px;
  background-image:url('images/Naslov.png');
  background-position: center top;
  margin-left: 10px;
  margin-top:0px;
  margin-bottom:10px;
}
#page{
  width:1220px;
  height:auto;
  background-color: white;
  margin:20px auto;
  padding-top:10px;

}
ul,li{
  margin-top:0px;
  list-style:none;
  float:left;
  padding-left:50px;
  font-size:25px;
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:blue;
}
nav{
  background-color: gray;
  height:30px;
}
h1{
  margin-left:50px;
  margin-right:50px;
}
p{
  margin-left:75px;
  margin_right:50px;
}
#pagefooter{
  background-color: gray;
  height:20px;
  text-align:center;
}
